body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 350px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, select, button {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
