body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 350px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input, select, button {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}
li button {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}

.balance {
  font-size: 1.2rem;
  font-weight: bold;
}

.container {
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


li {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
